@import "/styles/variables";
@import "./service.scss";
@import "./swiper.scss";
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

html {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "TT Lakes";
}
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
}
.header {
  min-height: 88px;
  border-bottom: 1px solid black;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  width: 100%;
}
.header__navigation {
  list-style-type: none !important;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: right 24px;
}
.header__navigation--item {
}
.planset {
  list-style-type: none !important;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: right 24px;
}
.header__logo {
  flex-grow: 1;
  text-align: center;
}
.header__logo img {
  width: 100px;
  height: auto;
}

.moba {
  display: none;
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.header__logo {
  width: 150px;
}

.planset {
  display: flex;
  padding-right: 16px;
}

.Pomogite {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 16px;
  height: 88px;
  cursor: pointer;
  @media (min-width: $desktop-width) {
    display: none;
  }
}
.desktop-header--text--item:hover {
  color: #7e7e82;
  border-radius: 6px;
  -webkit-transition: background-color 1s, border 1s;
  transition: background-color 1s, border 1s;
}
.desktop-header--lank--item:hover {
  color: #7e7e82;
  border-radius: 6px;
  -webkit-transition: background-color 1s, border 1s;
  transition: background-color 1s, border 1s;
}
.desktop-header {
  &--justify {
    display: none;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    background-color: white;
    justify-content: space-between;
    position: fixed;
    @media (min-width: $desktop-width) {
      display: flex;
    }
  }
  &--header {
    display: flex;
    gap: 118px;
    padding-left: 22px;
    align-items: center;
    padding-top: 30px;
    padding-right: 22px;
  }
  &--text {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding-left: 20px;
    padding-top: 37px;
    font-family: "TT Lakes";
    cursor: pointer;
  }
  &--icon {
    display: flex;
    gap: 16px;
    padding-left: 20px;
  }
  &--mail {
    font-family: "TT Lakes";
    padding-left: 20px;
    padding-top: 16px;
    font-size: 16px;
  }
  &--nomep {
    font-family: "TT Lakes";
    padding-left: 20px;
    padding-top: 16px;
    font-size: 24px;
    font-weight: 700;
  }
  &--lank {
    display: flex;
    font-family: "TT Lakes";
    gap: 7px;
    font-size: 16px;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 16px;
  }
}
.da-xz {
  @media (min-width: $desktop-width) {
    display: flex;
    cursor: pointer;
  }
}
.menu {
  display: none;
  cursor: pointer;

  &--header {
    display: flex;
    padding-left: 16px;
    align-items: center;
    padding-top: 24px;
    justify-content: space-between;
    padding-right: 16px;
  }
}
.menu__leftside {
  height: 100vh;
  width: 320px;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #fefefe;
  top: 0;
  left: 0;
  z-index: 1991;
  justify-content: space-between;
  box-shadow: 0px 0px 20px 17px rgba(34, 60, 80, 0.23);
  @media (min-width: $desktop-width) {
    display: none;
  }
}
.menu_open {
  display: flex;
  @media (min-width: $desktop-width) {
    display: none;
  }
}
.flex {
  display: flex;
  align-items: center;
  gap: 16px;
}
.gachi {
  margin-top: 24px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }
}
.gachi img {
  width: 60%;
  align-items: center;
}

.pin {
  display: flex;
  padding-left: 48px;
  @media (min-width: $tablet-width) {
    display: flex;
    padding-left: 57px;
  }
  @media (min-width: $desktop-width) {
    display: flex;
    padding-left: 64px;
  }
}
.pin img {
  width: 7px;
  padding-top: 8px;
  margin-right: 16px;
}
.jsfhj p {
  display: flex;
  color: #7e7e82;
  width: 338px;
  padding-left: 29px;
}
.jsfhj {
  width: 100%;
  height: 56px;
  background-color: white;
  align-content: center;
}
.brend {
  display: none;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(auto-fill, 224px);
  gap: 16px 32px;
  justify-content: space-between;
  grid-template-areas:
    ". . ."
    ". . .";
  @media (min-width: 1410px) {
    grid-template-areas:
      ". . . ."
      ". . . .";
  }
  @media (min-width: $desktop-width) {
    display: grid;
  }
  &_title {
    font-family: "TT Lakes";
    padding-left: 16px;
    font-size: 16px;
    color: #7e7e82;
    @media (min-width: $tablet-width) {
      padding-left: 32px;
    }
    &--container {
      display: flex;
      background: linear-gradient(90deg, #f8f8f8 1.39%, #ffffff 100%);
      width: 100%;
      min-height: 56px;
      align-items: center;
    }
  }
  &_container {
    width: 240px;
    height: 72px;
    gap: 0px;
    border-radius: 6px;
    border-color: #eaeaea;
    background-color: white;
    display: none;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: space-between;
    border: 1px solid white;
    cursor: pointer;

    &--desktop {
      @media (min-width: 1410px) {
        display: flex;
      }
    }
    &--tablet {
      @media (min-width: $desktop-width) {
        display: flex;
      }
    }
  }
}

.container:hover img {
  background-color: #1b1c21;
  border-radius: 50%;
}

.test_menu__whiteshit {
  width: 100vh;
  height: 100%;
  background-color: white;
  opacity: 0.96;
  z-index: 0;
}
.pablo-grid {
  display: none;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  grid-template-rows: 1fr;
  gap: 16px 32px;
  grid-template-areas: ". . . .";
  @media (min-width: $desktop-width) {
    display: grid;
  }
  &--box {
    width: 240px;
    height: 160px;
    gap: 0px;
    border-radius: 6px;
    border-color: #eaeaea;
    background-color: white;
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    justify-content: space-between;
    border: 1px solid white;
    cursor: pointer;
    &:hover {
      transition: border 0.5s;
      border: 1px solid #f1d1da;
      & > .container {
        transition: background-color 0.5s, border 0.5s;
        background-color: #ffb3ca;
        border: 2px solid #ffb3ca;
      }
    }
    &--inside {
      width: 40px;
      height: 40px;
      margin-top: 102px;
    }
  }
}
.subtitle__readmore {
  padding: 0px 32px;
  &--list {
    display: none;
    padding-left: 48px;
    gap: 8px;
    @media (min-width: $desktop-width) {
      display: flex;
    }
  }
}
.dataTable {
  display: none;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 30px;
  @media (min-width: $desktop-width) {
    padding-left: 32px;
    padding-right: 32px;
    display: table;
  }
}

.dataTable thead,
.dataTable tbody,
.dataTable thead tr,
.dataTable th {
  display: block;
}

.dataTable thead {
  float: left;
}

.dataTable tbody {
  width: auto;
  position: relative;
  overflow-x: auto;
}

.dataTable td {
  padding: 0.625em;
  line-height: 1.5em;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

.dataTable th {
  padding: 0.625em;
  line-height: 1.5em;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

.dataTable th {
  text-align: left;
  background: none;
  color: #7e7e82;
}

.dataTable tbody tr {
  display: table-cell;
}

.dataTable tbody td {
  display: block;
}

.dataTable tbody td:nth-child(2) {
  display: block;
}

.dataTable tr:nth-child(odd) {
}

.table__row--first-up {
  border-radius: 6px 0px 0px 0px;
}
.table__row--last-up {
  border-radius: 0px 6px 0px 0px;
}
.table__row--first-bottom {
  border-radius: 0px 0px 0px 6px;
}
.table__row--last-bottom {
  border-radius: 0px 0px 6px 0px;
}

@media screen and (min-width: 50em) {
  .dataTable thead {
    display: table-header-group;
    float: none;
  }

  .dataTable tbody {
    display: table-row-group;
  }

  .dataTable thead tr,
  .dataTable tbody tr {
    display: table-row;
  }

  .dataTable th,
  .dataTable tbody td {
    display: table-cell;
  }

  .dataTable td,
  .dataTable th {
    width: auto;
  }
}

tbody {
  background: white;
  color: #1b1c21;
}

.table__row {
  height: 70px;
  position: relative;
  &:not(:last-child)::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #eaeaea;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.table__row--first {
  padding-left: 16px !important;
}

.table__row--last {
  display: flex !important;
  justify-content: center !important;
  height: 70px;
  align-items: center;
}

table {
  border-spacing: 0;
}

.table__button {
  display: flex;
  width: 119px;
  height: 32px;
  background-color: #ff3e79;
  border-radius: 16px;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 12px;
  border: 1px solid #ff3e79;
  &:hover {
    transition: background-color 0.3s, color 0.3s;
    background-color: white;
    color: #ff3e79;
  }
}

table {
  border-collapse: separate;
  overflow: hidden;
}

th,
td {
  border: 1px solid transparent;
}

.myswiper2 {
  height: 240px !important;
}
.bottom__text {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 421px;
  padding-top: 24px;
  font-size: 14px;
  color: $text-color;
  @media (min-width: $desktop-width) {
    padding-left: 32px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
  padding-top: 16px;
  padding-bottom: 17px;
  color: #7e7e82;
  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: none;
    justify-content: space-between;
    padding-right: 24px;
    padding-left: 24px;
  }
  &__left {
    @media (min-width: $tablet-width) {
      width: 240px;
      text-align: left;
    }
  }
  &__right {
    @media (min-width: $tablet-width) {
      width: 240px;
      text-align: right;
    }
  }
  &__shadow {
    height: 1px;
    width: 100%;
    background-color: #d9fff5;
    margin-top: 40px;
    @media (min-width: $desktop-width) {
      width: 240px;
      text-align: right;
      margin-top: 50px;
    }
  }
}
.bottom__text {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 421px;
  padding-top: 24px;
  font-size: 14px;
  color: $text-color;
  @media (min-width: $desktop-width) {
    padding-left: 32px;
  }
}
.get-deal {
  display: flex;
  gap: 6px;
  padding-left: 16px;
  padding-top: 16px;
  color: black;
  text-decoration: none;
  @media (min-width: $desktop-width) {
    padding-left: 32px;
    text-decoration: none;
    color: black;
  }
}
.swiper-services {
  width: 260px !important;
  height: 210px !important;
  &_row {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: $text-color;
  }
  &_text--main {
    color: #7e7e82;
  }
  &_button {
    cursor: pointer;
    display: flex;
    width: 119px;
    height: 32px;
    background-color: #ff3e79;
    border-radius: 16px;
    margin-top: 28px;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 10px;
  }
  &_butpos {
    display: flex;
    gap: 16px;
  }
}

.obwaga {
  @media (min-width: $desktop-width) {
    margin-left: 300px;
  }
}
.white {
  background-color: #fefefe;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.message_menu {
  display: none;
  z-index: 3;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  &_close {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #ff3e79;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 100%;
    z-index: 7;
    margin-top: 24px;
    margin-left: 16px;
    cursor: pointer;
    @media (min-width: $desktop-width) {
      position: absolute;
      margin-left: -70px;
      margin-top: 34px;
    }
  }
  &--white {
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.96;
    z-index: 5;
  }
  &--divider {
    height: 100vh;
    width: 2px;
    box-shadow: 0px 0px 20px 17px rgba(34, 60, 80, 0.23);
    z-index: 6;
    background-color: #d9fff5;
  }
  &--main {
    height: 100vh;
    width: 320px;
    z-index: 7;
    background-color: white;
    @media (min-width: $desktop-width) {
      width: 440px;
    }
  }
}

.message_menu_open {
  display: flex;
  position: fixed;
}

.call_menu_open {
  display: flex !important;
  position: fixed;
}

@media (min-width: 320px) {
  .call {
    display: none;
  }
}

@media (min-width: 320px) {
  .message_tablet {
    display: none;
  }
}
/////////////////////////////////////
@media (min-width: $tablet-width) {
  .call {
    display: flex;
  }
}

@media (min-width: $tablet-width) {
  .message_tablet {
    display: flex;
  }
}
/////////////////////////////////////

.message_menu--text--container {
  display: flex;
  gap: 12px;
  align-items: center;
  padding-top: 40px;
  font-size: 24px;
  font-weight: 700;
  width: 420px;
  @media (min-width: $desktop-width) {
    gap: 24px;
    padding-top: 32px;
  }
}

.divider2 {
  width: 4px;
  height: 36px;
  background-color: #41f6d7;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.message_menu--input {
  height: 48px;
  width: 288px;
  margin-left: 16px;
  margin-top: 24px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  @media (min-width: $desktop-width) {
    width: 376px;
    margin-left: 32px;
  }
  &--2 {
    margin-top: 16px;
  }
  &--3 {
    &::placeholder {
      position: absolute;
      top: 12px;
    }
    height: 180px;
    @media (min-width: $desktop-width) {
      height: 230px;
    }
  }
}

.message_menu--bottom--text {
  font-size: 14px;
  color: #7e7e82;
  padding-left: 16px;
  padding-top: 16px;
  @media (min-width: $desktop-width) {
    padding-left: 32px;
  }
}

.message_menu--red {
  color: #ff3e79;
  display: inline;
}

.message_menu--butt {
  display: flex;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #ff3e79;
  width: 136px;
  height: 32px;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  color: white;
  margin-left: 144px;
  margin-top: 23px;
  @media (min-width: $desktop-width) {
    margin-left: 248px;
  }
}

.white {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  left: 0;
}
.call_menu {
  display: none;
  z-index: 3;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  &_close {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #ff3e79;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 100%;
    z-index: 7;
    margin-top: 24px;
    margin-left: 16px;
    cursor: pointer;
    @media (min-width: $desktop-width) {
      position: absolute;
      margin-left: -70px;
      margin-top: 34px;
    }
  }
}
