@import "./variables";
.main__menu--slider::-webkit-scrollbar {
    width: 0;
  }

.main__menu--slider{
    padding: 0 16px;
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "TT Lakes";
  font-size: 16px;
  position: relative;
  overflow: auto;
  cursor: pointer;
  }

  @media (min-width: 767px) {
.main__menu--slider {
      padding: 0 24px;
      
    }
  }
  
  @media (min-width: 1119px) {
.main__menu--slider {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: start;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  }
  
.main__menu--slider--item {
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    white-space: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #7e7e82;
    -webkit-transition: 2s;
    transition: 2s;
  }
  
.main__menu--slider--item-label {
    padding:  16px;
    border: 3px solid transparent;
    font-size: 16px;
    cursor: pointer;
  }
  
.main__menu--slider--item-label:hover {
    border: 3px solid #B8FFEC;
    border-radius: 6px;
    background-color: #ffffff;
    -webkit-transition: background-color 1s, border 1s;
    transition: background-color 1s, border 1s;
  }
  
.main__menu--slider-radio-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
  }
  
.mainmenu--slider-radio-button:checked+.mainmenu--slider--item-label {
    background: #ffffff;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid #d9fff5;
  }
  .myswiper {
    padding-left: 16px;
    height: 100px;
    margin-top: 16px;
    @media (min-width: $tablet-width) {
        margin-top: 24px;
    }
    @media (min-width: $desktop-width) {
        display: none !important;
    }
    &-wrapper{
        display: flex;
        @media (min-width: $desktop-width) {
            display: none !important;
        }
    }
    &-slide{
        display: flex !important;
        width: 240px !important;
        height: 72px !important;
        border-radius: 6px;
        border-color: #EAEAEA;
        background-color: white;
        align-items: center !important;
        justify-content: space-between !important;
        &1{
            display: flex !important;
            width: 240px !important;
            height: 160px !important;
            border-radius: 6px;
            border-color: #EAEAEA;
            background-color: white;
            align-items: flex-end !important;
            justify-content: space-between !important;
            padding-bottom: 16px !important;
            &--items{
                display: flex;
                height: 138px;
                padding-top: 16px;
            }
        }
    }   
}

.swiper-pagination{
    bottom: 0 !important;
    padding-left: 16px;
}

.swiper-pagination-bullet-active{
    background: rgba(181, 182, 188, 1) !important;
}

.swiper-pagination-bullet{
    background: rgba(200, 200, 200, 1) !important;
}


.myswiper1{
    height: 205px;

}

.myswiper-wrapper{
  padding-left: 16px;
}

.subtitle_show {
  font-family: "TT Lakes";
font-weight: 400;
color: $text-color;
letter-spacing: 0.2px;
font-size: 14px;
padding: 0px 24px 16px;
@media (min-width: $desktop-width){
  height: auto;
  padding: 0 32px 16px;
}
}

.subtitle_1{
  display: none;
}